form {
    display: inline-block;
    margin: 10% auto auto auto;
    text-align: left;
    background-color: #9cdeb9;
    width: 450px;
    height: 500px;
    padding: 80px 0 0 50px;
}

body {
    display: block;
    text-align: center;
    font-family: "Avenir Next", sans-serif;
}

input[type=text], input[type=password] {
    width: 85%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    text-align: left;
}

p {
    color: red;
    font-size: 12px;
    font-weight: bold;
}